Repository boostcampwm2025/web12-plum: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

refactor: ParticipantVideo 사용처를 내 화면/원격 화면 래퍼로 분리
  apps/frontend/src/feature/room/components/MyParticipantVideo.tsx
  apps/frontend/src/feature/room/components/ParticipantGrid.spec.tsx
  apps/frontend/src/feature/room/components/ParticipantGrid.tsx
  apps/frontend/src/feature/room/components/RemoteParticipantVideo.tsx
  apps/frontend/src/feature/room/components/RoomMainSection.tsx
Due: eslint --fix, prettier --write

refactor: 내 화면/원격 화면 컴포넌트로 미디어 로직을 이관
  apps/frontend/src/feature/room/components/MyParticipantVideo.tsx
  apps/frontend/src/feature/room/components/ParticipantGrid.tsx
  apps/frontend/src/feature/room/components/ParticipantVideo.spec.tsx
  apps/frontend/src/feature/room/components/ParticipantVideo.tsx
  apps/frontend/src/feature/room/components/ParticipantVideoView.tsx
  apps/frontend/src/feature/room/components/RemoteParticipantVideo.tsx
  apps/frontend/src/feature/room/components/RoomMainSection.tsx
  apps/frontend/src/feature/room/hooks/useLocalParticipantMediaState.ts
  apps/frontend/src/feature/room/hooks/useParticipantMediaState.ts
  apps/frontend/src/feature/room/hooks/useRemoteParticipantMediaState.ts
  apps/frontend/src/feature/room/hooks/useVideoElementBinding.ts
  apps/frontend/src/feature/room/types.ts
Due: eslint --fix, prettier --write

refactor: 레거시 ParticipantVideo를 제거하고 My/Remote 테스트로 분리
  apps/frontend/src/feature/room/components/MyParticipantVideo.spec.tsx
  apps/frontend/src/feature/room/components/ParticipantVideo.tsx
  apps/frontend/src/feature/room/components/RemoteParticipantVideo.spec.tsx
Due: eslint --fix, prettier --write

refactor: 소켓 타임아웃 및 재연결 설정 값 수정
  apps/backend/src/common/constants/socket.constants.ts
  apps/frontend/src/shared/socket/client.ts
Due: eslint --fix, prettier --write

Refactor/#409 participant video (#410)
  apps/frontend/src/feature/room/components/MyParticipantVideo.spec.tsx
  apps/frontend/src/feature/room/components/MyParticipantVideo.tsx
  apps/frontend/src/feature/room/components/ParticipantGrid.spec.tsx
  apps/frontend/src/feature/room/components/ParticipantGrid.tsx
  apps/frontend/src/feature/room/components/ParticipantVideo.tsx
  apps/frontend/src/feature/room/components/ParticipantVideoView.tsx
  apps/frontend/src/feature/room/components/RemoteParticipantVideo.spec.tsx
  apps/frontend/src/feature/room/components/RemoteParticipantVideo.tsx
  apps/frontend/src/feature/room/components/RoomMainSection.tsx
  apps/frontend/src/feature/room/hooks/useLocalParticipantMediaState.ts
  apps/frontend/src/feature/room/hooks/useParticipantVideoSubscription.ts
  apps/frontend/src/feature/room/hooks/useRemoteParticipantMediaState.ts
  apps/frontend/src/feature/room/hooks/useVideoElementBinding.ts
  apps/frontend/src/feature/room/stores/useMediaStore.ts
  apps/frontend/src/feature/room/types.ts
Due: eslint --fix, prettier --write

fix: fe 배포 문제 해결
  .github/workflows/fe_develop.yml
  .github/workflows/fe_production.yml
Due: none

refactor: Socket.IO 재연결 간격 조정 및 내부 로직 개선
  apps/backend/src/common/constants/socket.constants.ts
  apps/backend/src/room/room.gateway.spec.ts
  apps/backend/src/room/room.gateway.ts
  apps/frontend/src/feature/room/components/ChatPanel.tsx
  apps/frontend/src/feature/room/components/ExitButton.tsx
  apps/frontend/src/feature/room/components/PollManagementTabs.tsx
  apps/frontend/src/feature/room/components/QnaManagementTabs.tsx
  apps/frontend/src/feature/room/components/RoomDialogs.tsx
  apps/frontend/src/feature/room/hooks/useAudienceEventHandlers.ts
  apps/frontend/src/feature/room/hooks/useBroadcastGesture.ts
  apps/frontend/src/feature/room/hooks/useCommonEventHandlers.ts
  apps/frontend/src/feature/room/hooks/useInteractionSync.ts
  apps/frontend/src/feature/room/hooks/usePollGesture.ts
  apps/frontend/src/feature/room/hooks/usePresenterEventHandlers.ts
  apps/frontend/src/feature/room/hooks/useRoomEventHandlers.ts
  apps/frontend/src/feature/room/hooks/useRoomInit.ts
  apps/frontend/src/feature/room/hooks/useRoomPresentation.ts
  apps/frontend/src/feature/room/hooks/useRoomSync.ts
  apps/frontend/src/feature/room/service/chat.ts
  apps/frontend/src/feature/room/service/interaction.ts
  apps/frontend/src/feature/room/service/poll.ts
  apps/frontend/src/feature/room/service/qna.ts
  apps/frontend/src/feature/room/service/room.ts
  apps/frontend/src/mediasoup/mediasoup.service.ts
  apps/frontend/src/shared/socket/client.spec.ts
  apps/frontend/src/shared/socket/client.ts
  apps/frontend/src/shared/socket/error.ts
  apps/frontend/src/shared/socket/guard.ts
  apps/frontend/src/shared/socket/socket.ts
  apps/frontend/src/shared/socket/types.ts
  apps/frontend/src/types/socket.ts
  packages/shared-interfaces/src/socket.ts
Due: eslint --fix, prettier --write

chore: simple-import-sort 플러그인 추가 및 ESLint 설정 개선
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
Due: prettier --write

refactor: README.md의 폴더 구조 설명 개선
  README.md
Due: prettier --write

docs: 데모 링크 삭제
  README.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js,jsx}
  prettier --write: ((any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,md})) or (any of: *.css)
