Repository boostcampwm2025/web12-plum: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": ["eslint --fix", "prettier --write"],
  "*.{json,md}": ["prettier --write"],
  "*.css": ["prettier --write"],
  "*.ttf": ["git add"]
}

fix: ai-worker docker 내부 파일 없는 문제 해결
  apps/ai-worker/Dockerfile
Due: none

fix: ai-worker docker 내부 파일 없는 문제 해결 (#360)
  apps/ai-worker/Dockerfile
Due: none

fix: ModalTitle의 왼쪽 패딩 제거
  apps/frontend/src/feature/room/components/PollResultModal.tsx
  apps/frontend/src/shared/components/Modal.tsx
  apps/frontend/src/shared/components/PollModal.tsx
  apps/frontend/src/shared/components/QnAModal.tsx
Due: eslint --fix, prettier --write

feat: 메인 페이지를 ToastLayout으로 감쌈
  apps/frontend/src/App.tsx
Due: eslint --fix, prettier --write

feat: 강의실 퇴장 확인 모달 컴포넌트 추가 및 ExitButton 리팩토링
  apps/frontend/src/feature/room/components/ExitButton.tsx
Due: eslint --fix, prettier --write

feat: RoomEndedModal 버튼 위치 조정
  apps/frontend/src/feature/room/components/RoomEndedModal.tsx
Due: eslint --fix, prettier --write

feat: Summary 컴포넌트에서 강의 요약 데이터 로딩 및 에러 처리 개선
  apps/frontend/src/pages/Summary.tsx
Due: eslint --fix, prettier --write

feat: 강의실 생성 및 입장 시 navigate 함수에 replace 옵션 추가
  apps/frontend/src/feature/create-lecture/components/CreateLectureForm.tsx
  apps/frontend/src/feature/enter-lecture/components/EnterLectureForm.tsx
Due: eslint --fix, prettier --write

feat: CreateLectureForm 테스트에서 navigate 호출 시 replace 옵션 추가
  apps/frontend/src/feature/create-lecture/components/CreateLectureForm.spec.tsx
Due: eslint --fix, prettier --write

feat: 사용자들의 음소거 상태 표시 (#359)
  apps/frontend/src/feature/room/components/ParticipantGrid.spec.tsx
  apps/frontend/src/feature/room/components/ParticipantGrid.tsx
  apps/frontend/src/feature/room/components/ParticipantVideo.tsx
  apps/frontend/src/feature/room/components/RoomMainSection.tsx
  apps/frontend/src/feature/room/hooks/useRoomEventHandlers.ts
  apps/frontend/src/feature/room/stores/useRoomStore.ts
Due: eslint --fix, prettier --write

docs: 포맷팅 수정
  README.md
Due: prettier --write

docs: 기능 소개 추가
  README.md
Due: prettier --write

docs: 소개 부분 수정
  README.md
Due: prettier --write

docs: 기능 설명 추가
  README.md
Due: prettier --write

feat: 투표 조회 시 활성 투표에 대해 투표자 정보 응답
  apps/backend/src/interaction/interaction.service.spec.ts
  apps/backend/src/interaction/interaction.service.ts
  apps/backend/src/redis/repository-manager/poll-manager.service.ts
Due: eslint --fix, prettier --write

docs: 줄바꿈 적용
  README.md
Due: prettier --write

fix: 발표자 화면에서 소강의실 및 참가자 관리 주석 처리
  apps/frontend/src/feature/room/components/MenuPanel.tsx
Due: eslint --fix, prettier --write

feat: 요약페이지 접근에 대한 플로우 개선
  apps/backend/src/room/room.service.ts
  apps/backend/test/app.e2e-spec.ts
  apps/backend/test/room.e2e-spec.ts
  apps/frontend/src/App.tsx
  apps/frontend/src/feature/create-lecture/components/CreateLectureForm.spec.tsx
  apps/frontend/src/feature/create-lecture/components/CreateLectureForm.tsx
  apps/frontend/src/feature/enter-lecture/components/EnterLectureForm.tsx
  apps/frontend/src/feature/room/components/ExitButton.tsx
  apps/frontend/src/feature/room/components/PollResultModal.tsx
  apps/frontend/src/feature/room/components/RoomEndedModal.tsx
  apps/frontend/src/pages/Summary.tsx
  apps/frontend/src/shared/components/Modal.tsx
  apps/frontend/src/shared/components/PollModal.tsx
  apps/frontend/src/shared/components/QnAModal.tsx
Due: eslint --fix, prettier --write

docs: 라이트 모드를 고려하여 색상 수정
  README.md
Due: prettier --write

docs: 버튼 사이 간격 추가
  README.md
Due: prettier --write

feat: 최근 종료된 투표가 위로 오도록 정렬 추가
  apps/frontend/src/feature/room/components/PollManagementTabs.tsx
Due: eslint --fix, prettier --write

docs: 리드미 업데이트 (#366)
  README.md
Due: prettier --write

refactor: 모바일 가드 오버레이 형식으로 변경
  apps/frontend/src/App.tsx
  apps/frontend/src/feature/room/components/RoomMenuBar.tsx
Due: eslint --fix, prettier --write

feat: 채팅 알람 인디케이터 추가
  apps/frontend/src/feature/room/components/RoomMenuBar.tsx
  apps/frontend/src/feature/room/stores/useChatStore.ts
Due: eslint --fix, prettier --write

feat: 모달 관련 스타일링 수정
  apps/frontend/src/feature/room/components/ExitButton.tsx
  apps/frontend/src/feature/room/components/PollResultModal.tsx
  apps/frontend/src/shared/components/Modal.tsx
Due: eslint --fix, prettier --write

feat: QnA 결과 토스트 메세지 익명 여부에 따라 다르게 표시
  apps/frontend/src/feature/room/hooks/useRoomEventHandlers.ts
Due: eslint --fix, prettier --write

refactor: 강의 생성 폼에서 호스트 이름 섹션을 별도 컴포넌트로 분리
  apps/frontend/src/feature/create-lecture/components/HostNameSection.tsx
Due: eslint --fix, prettier --write

refactor: 강의 생성 폼에서 데이터 수집 동의 섹션을 별도 컴포넌트로 분리
  apps/frontend/src/feature/create-lecture/components/AgreementSection.tsx
Due: eslint --fix, prettier --write

refactor: 강의 생성 폼에서 강의실 이름 섹션을 별도 컴포넌트로 분리
  apps/frontend/src/feature/create-lecture/components/LectureNameSection.tsx
Due: eslint --fix, prettier --write

refactor: 활동 모달 상태 관리 스토어 추가
  apps/frontend/src/feature/create-lecture/store/useActivityModalStore.ts
Due: eslint --fix, prettier --write

refactor: 강의 생성 폼에서 발표자료 섹션을 별도 컴포넌트로 분리
  apps/frontend/src/feature/create-lecture/components/PresentationList.spec.tsx
  apps/frontend/src/feature/create-lecture/components/PresentationList.tsx
  apps/frontend/src/feature/create-lecture/components/PresentationSection.tsx
Due: eslint --fix, prettier --write

refactor: 활동(투표/Q&A) FieldArray 관리 훅 추가
  apps/frontend/src/feature/create-lecture/hooks/useActivityActions.ts
Due: eslint --fix, prettier --write

refactor: ActivityModals 컴포넌트의 상태 관리 훅을 스토어로 변경
  apps/frontend/src/feature/create-lecture/components/ActivityModals.tsx
Due: eslint --fix, prettier --write

refactor: 강의 생성 폼에서 투표와 qna 추가 섹션을 별도 컴포넌트로 분리
  apps/frontend/src/feature/create-lecture/components/ActivityList.spec.tsx
  apps/frontend/src/feature/create-lecture/components/ActivityList.tsx
  apps/frontend/src/feature/create-lecture/components/ActivitySection.tsx
Due: eslint --fix, prettier --write

refactor: 강의 생성 폼에서 제출 버튼 컴포넌트 추가 및 섹션 컴포넌트들 연결
  apps/frontend/src/feature/create-lecture/components/CreateLectureForm.tsx
Due: eslint --fix, prettier --write

refactor: 활동 관련 컨텍스트 및 테스트 파일 삭제
  apps/frontend/src/feature/create-lecture/hooks/useActivityActionContext.spec.tsx
  apps/frontend/src/feature/create-lecture/hooks/useActivityActionContext.tsx
  apps/frontend/src/feature/create-lecture/hooks/useActivityModalContext.spec.tsx
  apps/frontend/src/feature/create-lecture/hooks/useActivityModalContext.tsx
Due: eslint --fix, prettier --write

refactor: PresentationUploader 컴포넌트의 주석 개선 및 코드 정리
  apps/frontend/src/feature/create-lecture/components/PresentationUploader.tsx
Due: eslint --fix, prettier --write

feat: 현재 페이지가 유효 범위를 벗어나면 자동으로 마지막 유효 페이지로 이동
  apps/frontend/src/feature/room/hooks/useParticipantPagination.ts
Due: eslint --fix, prettier --write

feat: AI 요약 기능 추가
  .github/workflows/cd.yml
  apps/backend/.env.local.example
  apps/backend/package.json
  apps/backend/src/records/file-watcher.service.ts
  apps/backend/src/records/record.module.ts
  apps/backend/src/redis/redis.constants.ts
  apps/backend/src/redis/redis.module.ts
  apps/backend/src/redis/repository-manager/activity-score-manager.service.ts
  apps/backend/src/redis/repository-manager/ai-summary-manager.service.ts
  apps/backend/src/redis/repository-manager/index.ts
  apps/backend/src/redis/repository-manager/recording-manager.service.ts
  apps/backend/src/room/room.service.spec.ts
  apps/backend/src/room/room.service.ts
  apps/backend/src/summarize/summarize.module.ts
  apps/backend/src/summarize/summarize.service.ts
  apps/backend/test/app.e2e-spec.ts
  apps/backend/test/room.e2e-spec.ts
  packages/shared-interfaces/src/room.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix: 발표자 비정상 퇴장시 break_room으로 판단하도록 수정
  apps/backend/src/room/room.gateway.ts
Due: eslint --fix, prettier --write
