Repository boostcampwm2025/web12-plum: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": ["eslint --fix", "prettier --write"],
  "*.{json,md}": ["prettier --write"],
  "*.css": ["prettier --write"],
  "*.ttf": ["git add"]
}

refactor: 정렬 성능 개선
  apps/frontend/src/feature/room/hooks/useParticipantPagination.ts
Due: eslint --fix, prettier --write

feat: speakerOrder에서 TTL 이후 발화자 제거
  apps/frontend/src/feature/room/stores/useRoomStore.ts
Due: eslint --fix, prettier --write

fix: 모니터링설정 수정
  .github/deployments/monitoring/docker-compose.yml
  .github/deployments/monitoring/prometheus/prometheus-dev.yml
  .github/workflows/cd.yml
  docker-compose.develop.yml
  docker-compose.local.yml
  docker-compose.prod.yml
Due: none

fix: Ai 요약에서 불필요한 로그를 제거합니다.
  apps/backend/src/records/file-watcher.service.ts
  apps/backend/src/summarize/summarize.service.ts
Due: eslint --fix, prettier --write

fix: 참여도 점수 잘못된 집계 방식 수정 (#386)
  apps/backend/src/chat/chat.gateway.ts
  apps/backend/src/redis/repository-manager/activity-score-manager.service.ts
Due: eslint --fix, prettier --write

fix: 모니터링설정 수정 (#390)
  .github/deployments/monitoring/docker-compose.yml
  .github/deployments/monitoring/prometheus/prometheus-dev.yml
  .github/workflows/cd.yml
  docker-compose.develop.yml
  docker-compose.local.yml
  docker-compose.prod.yml
Due: none

chore: react-pdf/renderer 패키지 설치
  apps/frontend/package.json
  pnpm-lock.yaml
Due: prettier --write

fix: Prometheus 설정컨테이너 내부 경로 수정
  .github/deployments/monitoring/prometheus/prometheus-dev.yml
Due: none

refactor: SPEAKER_ORDER_TTL 변경
  apps/frontend/src/feature/room/stores/useRoomStore.ts
Due: eslint --fix, prettier --write

feat: AI 요약 데이터 폴링 기능 담당 훅 추가
  apps/frontend/src/feature/summary/hooks/useAiSummaryPolling.ts
Due: eslint --fix, prettier --write

feat: 초 단위 시간을 MM:SS 형식으로 변환하는 함수 추가
  apps/frontend/src/feature/summary/utils.ts
Due: eslint --fix, prettier --write

feat: PDF용 UI 컴포넌트 추가
  apps/frontend/src/feature/summary/pdf/SummaryReportPDF.tsx
  apps/frontend/src/feature/summary/pdf/components/PDFHeader.tsx
  apps/frontend/src/feature/summary/pdf/components/PDFLectureSummary.tsx
  apps/frontend/src/feature/summary/pdf/components/PDFPollResults.tsx
  apps/frontend/src/feature/summary/pdf/components/PDFQnAResults.tsx
  apps/frontend/src/feature/summary/pdf/components/PDFStatistics.tsx
  apps/frontend/src/feature/summary/pdf/registerFonts.ts
  apps/frontend/src/feature/summary/pdf/styles.ts
Due: eslint --fix, prettier --write

feat: 요약 리포트 데이터를 관리하는 스토어 추가
  apps/frontend/src/store/useSummaryStore.ts
Due: eslint --fix, prettier --write

feat: useSummaryStore를 사용하여 PollResultsTab, QnAResultsTab, StatisticsTab 컴포넌트 수정
  apps/frontend/src/feature/summary/components/PollResultsTab.tsx
  apps/frontend/src/feature/summary/components/QnAResultsTab.tsx
  apps/frontend/src/feature/summary/components/StatisticsTab.tsx
Due: eslint --fix, prettier --write

docs: README 최신 버전 내용으로 업데이트
  README.md
Due: prettier --write

feat: PDF 리포트 다운로드 기능 추가
  apps/frontend/src/feature/summary/components/ReportDownload.tsx
  apps/frontend/src/feature/summary/pdf/useSummaryReportDownload.ts
  apps/frontend/src/pages/Summary.tsx
Due: eslint --fix, prettier --write

refactor: 발화자 정렬 로직 개선 (#388)
  apps/backend/src/mediasoup/audio-level-observer.service.ts
  apps/frontend/src/feature/room/hooks/useParticipantPagination.ts
  apps/frontend/src/feature/room/stores/useRoomStore.ts
Due: eslint --fix, prettier --write

docs: README 구성 순서 변경
  README.md
Due: prettier --write

feat: 강의 요약 탭에 더미데이터 제거 후, 스토어 내용에 맞게 렌더링 처리
  apps/frontend/src/feature/summary/components/LectureSummaryTab.tsx
Due: eslint --fix, prettier --write

feat: useSummaryStore를 활용하여 Summary 컴포넌트의 상태 관리 개선 및 AI 요약 데이터 폴링 기능 추가
  apps/frontend/src/pages/Summary.tsx
Due: eslint --fix, prettier --write

feat: 폴링 간격을 5초에서 10초로 변경
  apps/frontend/src/feature/summary/hooks/useAiSummaryPolling.ts
Due: eslint --fix, prettier --write

fix: Prometheus 설정컨테이너 내부 경로 수정 (#394)
  .github/deployments/monitoring/prometheus/prometheus-dev.yml
Due: none

fix: Ai 요약에서 불필요한 로그를 제거합니다. (#391)
  apps/backend/src/records/file-watcher.service.ts
  apps/backend/src/summarize/summarize.service.ts
Due: eslint --fix, prettier --write

feat: AI 강의 요약 폴링 기능 연결
  apps/frontend/src/feature/summary/components/LectureSummaryTab.tsx
  apps/frontend/src/feature/summary/components/PollResultsTab.tsx
  apps/frontend/src/feature/summary/components/QnAResultsTab.tsx
  apps/frontend/src/feature/summary/components/StatisticsTab.tsx
  apps/frontend/src/feature/summary/hooks/useAiSummaryPolling.ts
  apps/frontend/src/feature/summary/utils.ts
  apps/frontend/src/pages/Summary.tsx
  apps/frontend/src/store/useSummaryStore.ts
Due: eslint --fix, prettier --write

feat: 강의 요약 다운로드 기능 구현 (#397)
  apps/frontend/package.json
  apps/frontend/src/feature/summary/components/ReportDownload.tsx
  apps/frontend/src/feature/summary/pdf/SummaryReportPDF.tsx
  apps/frontend/src/feature/summary/pdf/components/PDFHeader.tsx
  apps/frontend/src/feature/summary/pdf/components/PDFLectureSummary.tsx
  apps/frontend/src/feature/summary/pdf/components/PDFPollResults.tsx
  apps/frontend/src/feature/summary/pdf/components/PDFQnAResults.tsx
  apps/frontend/src/feature/summary/pdf/components/PDFStatistics.tsx
  apps/frontend/src/feature/summary/pdf/registerFonts.ts
  apps/frontend/src/feature/summary/pdf/styles.ts
  apps/frontend/src/feature/summary/pdf/useSummaryReportDownload.ts
  apps/frontend/src/pages/Summary.tsx
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

release: v1.2.0
  apps/backend/package.json
  apps/backend/src/chat/chat.gateway.ts
  apps/frontend/package.json
  apps/load-test/package.json
  package.json
  packages/shared-interfaces/package.json
Due: eslint --fix, prettier --write

feat: 요약 스토어 및 상대 타임라인 계산 기능 추가
  apps/frontend/src/feature/summary/store/useSummaryStore.ts
Due: eslint --fix, prettier --write

fix: useSummaryStore 경로 수정 및 selectRelativeTimelines 선택자 추가
  apps/frontend/src/feature/summary/components/LectureSummaryTab.tsx
  apps/frontend/src/feature/summary/components/PollResultsTab.tsx
  apps/frontend/src/feature/summary/components/QnAResultsTab.tsx
  apps/frontend/src/feature/summary/components/StatisticsTab.tsx
  apps/frontend/src/feature/summary/hooks/useAiSummaryPolling.ts
Due: eslint --fix, prettier --write

fix: ReportDownload 컴포넌트에서 props 제거 및 summaryData를 스토어에서 직접 구독하도록 수정
  apps/frontend/src/feature/summary/components/ReportDownload.tsx
Due: eslint --fix, prettier --write

fix: useSummaryStore 경로 수정 및 ReportDownload 컴포넌트에서 props 제거
  apps/frontend/src/pages/Summary.tsx
Due: eslint --fix, prettier --write

fix: 음성 녹음 과정에서 ai 요약이 실행되지 않은 문제 해결
  apps/backend/src/chat/chat.gateway.ts
  apps/backend/src/records/file-watcher.service.ts
  apps/backend/src/records/record.service.ts
  apps/backend/src/redis/repository-manager/ai-summary-manager.service.ts
  apps/backend/src/room/room.service.ts
  apps/backend/src/summarize/summarize.service.ts
  apps/frontend/src/feature/summary/components/LectureSummaryTab.tsx
  apps/frontend/src/feature/summary/hooks/useAiSummaryPolling.ts
  packages/shared-interfaces/src/room.ts
Due: eslint --fix, prettier --write

fix: selectRelativeTimelines 선택자 제거 및 getRelativeTimelines 유틸로 대체
  apps/frontend/src/feature/summary/components/LectureSummaryTab.tsx
  apps/frontend/src/feature/summary/components/ReportDownload.tsx
  apps/frontend/src/feature/summary/store/useSummaryStore.ts
  apps/frontend/src/feature/summary/utils.ts
Due: eslint --fix, prettier --write

fix: 음성 녹음 과정에서 ai 요약이 실행되지 않은 문제 해결 (#400)
  apps/backend/src/chat/chat.gateway.ts
  apps/backend/src/records/file-watcher.service.ts
  apps/backend/src/records/record.service.ts
  apps/backend/src/redis/repository-manager/ai-summary-manager.service.ts
  apps/backend/src/room/room.service.ts
  apps/backend/src/summarize/summarize.service.ts
  apps/frontend/src/feature/summary/components/LectureSummaryTab.tsx
  apps/frontend/src/feature/summary/hooks/useAiSummaryPolling.ts
  packages/shared-interfaces/src/room.ts
Due: eslint --fix, prettier --write

fix: 방 초기화 시 전역 상태 정리 로직 추가
  apps/frontend/src/feature/room/hooks/useRoomInit.ts
  apps/frontend/src/feature/room/stores/usePollStore.ts
  apps/frontend/src/feature/room/stores/useRoomUIStore.ts
Due: eslint --fix, prettier --write

fix: 강의 요약에서 pdf에 시간이 잘못 설정된 오류 해결
  apps/frontend/src/feature/summary/components/LectureSummaryTab.tsx
  apps/frontend/src/feature/summary/components/PollResultsTab.tsx
  apps/frontend/src/feature/summary/components/QnAResultsTab.tsx
  apps/frontend/src/feature/summary/components/ReportDownload.tsx
  apps/frontend/src/feature/summary/components/StatisticsTab.tsx
  apps/frontend/src/feature/summary/hooks/useAiSummaryPolling.ts
  apps/frontend/src/feature/summary/store/useSummaryStore.ts
  apps/frontend/src/feature/summary/utils.ts
  apps/frontend/src/pages/Summary.tsx
Due: eslint --fix, prettier --write

docs: 아키텍처 다이어그램 업데이트
  README.md
Due: prettier --write

release: v1.2.0 (#395)
  README.md
  apps/backend/package.json
  apps/frontend/package.json
  apps/load-test/package.json
  package.json
  packages/shared-interfaces/package.json
Due: prettier --write

fix: 세션 만료 시간 수정
  apps/backend/src/common/constants/socket.constants.ts
Due: eslint --fix, prettier --write

fix: 세션 만료 시간 수정 (#404)
  apps/backend/src/common/constants/socket.constants.ts
Due: eslint --fix, prettier --write
